*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none

:root
    --balck: #0E0E0E
    --gray: #A0A0A0
    --prime: #FFC148
    --red: #FF4242

$black: var(--balck)
$prime: var(--prime)
$gray: var(--gray)
$red: var(--red)

body
    min-height: 100vh
    font-size: 16px
    color: white
    background-color: $black
    font-family: 'Montserrat', sans-serif

    position: relative
    z-index: 1

    &.is_active
        overflow: hidden

.container
    max-width: 1430px
    width: 100%
    margin: 0 auto
    padding: 0 15px

img
    display: block
    max-width: 100%

a,
button
    color: white
    text-decoration: none
    transition: all ease .3s
    background-color: transparent
    &:hover
        opacity: .7
    &:active
        opacity: 1
        transform: scale(.98)

.h2, h2
    font-size: 39px
    line-height: 120%
    margin: 0 0 35px
    .link::after
        margin-left: 24px

ul
    list-style: none

.btn
    display: inline-flex
    font-weight: 500
    color: $black
    font-size: 16px
    line-height: 100%
    padding: 11px 14px
    background-color: $prime
    border-radius: 50px
    text-align: center
    img
        margin: 0 10px 0 0
        max-width: 20px
        max-height: 20px
        object-fit: contain

    &-outline
        background-color: rgba(0, 0, 0, 0)
        color: white
        border: 2px solid $prime

    &__fav
        display: inline-block
        width: 21px
        height: 20px
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        background-image: url('../img/heart.svg')

.badge
    display: inline-block
    vertical-align: middle
    color: black
    font-size: 16px
    line-height: 19px
    border-radius: 40px
    background-color: $prime
    padding: 2px 6px
    font-weight: 700

.c-red
    color: $red !important

.w-100
    width: 100% !important

.text-center
    text-align: center !important

.fx, .fx-w, .fx-ac, .fx-as, .fx-col, .fx-jb, .fx-ae, .fx-js, body
    display: flex !important

.fx-col, body
    flex-direction: column

.fx-ac, .btn
    align-items: center

.fx
    &-w
        flex-wrap: wrap

    &-as
        align-items: flex-start

    &-js
        justify-content: flex-start

    &-jc
        justify-content: center

    &-jb
        justify-content: space-between

    &-ae
        align-items: end

section,.section
    padding: 50px 0

.form
    gap: 8px
    .submit
        height: 43px
        min-width: 64px
        width: 64px
        border-radius: 41px
        background-color: #0E0E0E
        img
            display: block
            margin: 0 auto

    &__heading
        padding: 0 16px

input
    width: 100%
    background-color: #0E0E0E
    height: 43px
    border-radius: 110px
    padding: 0 16px
    font-size: 16px
    font-weight: 300
    color: white
    &::placeholder
        color: #868686

.link
    position: relative
    &::after
        content: ''
        display: inline-block
        vertical-align: middle
        width: 9px
        height: 17px
        margin-left: 12px
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        background-image: url('../img/ar-right.svg')

@media screen and ( max-width: 1500px )
    .container
        max-width: 1240px

    .btn
        padding: 9px 14px

@media screen and ( max-width: 720px )
    .btn
        border-width: 1px
        font-size: 14px

    h2, .h2
        font-size: 30px
        margin-bottom: 24px
        .link::after
            margin-left: 12px

@media screen and ( max-width: 600px )
    .subheading

@media screen and ( max-width: 360px )
    .container
        padding: 0 10px
