*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none

:root
    --balck: #121212
    --gray: #A0A0A0
    --prime: #FFC148
    --red: #FF4242

$black: var(--balck)
$prime: var(--prime)
$gray: var(--gray)
$red: var(--red)

body
    min-height: 100vh
    font-size: 16px
    color: white
    background-color: $black
    font-family: 'Montserrat', sans-serif

    position: relative
    z-index: 1

    &.is_active
        overflow: hidden

h1,h2,h3,h4,h5,h6,p
    &:last-child
        margin-bottom: 0

.container
    max-width: 1430px
    width: 100%
    margin: 0 auto
    padding: 0 15px

main
    padding-top: 90px
    @media screen and ( max-width: 720px )
        padding-top: 76px

img
    display: block
    max-width: 100%

a,
button
    color: white
    text-decoration: none
    transition: all ease .3s
    background-color: transparent
    &:hover
        opacity: .7
    &:active
        opacity: 1
        transform: scale(.98)

.h2, h2
    font-size: 39px
    line-height: 120%
    margin: 0 0 35px
    .link::after
        margin-left: 24px

ul
    list-style: none

.btn
    display: inline-flex
    font-weight: 500
    color: $black
    font-size: 16px
    line-height: 100%
    padding: 11px 14px
    background-color: $prime
    border-radius: 50px
    text-align: center
    img
        margin: 0 10px 0 0
        max-width: 20px
        max-height: 20px
        object-fit: contain

    &-outline
        background-color: rgba(0, 0, 0, 0) !important
        color: white
        border: 1.5px solid $prime

    &__fav
        display: inline-block
        width: 21px
        height: 20px
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        background-image: url('../img/heart.svg')

    &.--white
        background-color: #fff
        border-color: white

.badge
    display: inline-block
    vertical-align: middle
    color: black
    font-size: 16px
    line-height: 120%
    border-radius: 40px
    background-color: $prime
    padding: 2px 6px
    font-weight: 700
    @media screen and ( max-width: 720px )
        font-size: 15px

.c
    &-red
        color: $red !important

    &-prime
        color: $prime !important

    &-green
        color: #41D61C

hr
    margin: 0
    display: block
    width: 100%
    height: 1px
    background-color: $prime

.w-100
    width: 100% !important

.text-center
    text-align: center !important

.fx:not(.slick-initialized), .fx-w, .fx-jc, .fx-ac, .fx-as, .fx-col, .fx-jb, .fx-ae, .fx-js, body, .fx-je, .tag
    display: flex !important

.fx-col, body
    flex-direction: column

.fx-ac, .btn, .tag
    align-items: center

.fx-jc, .tag
    justify-content: center

.fx
    &-w
        flex-wrap: wrap

    &-as
        align-items: flex-start

    &-je
        justify-content: flex-end

    &-js
        justify-content: flex-start

    &-jb
        justify-content: space-between

    &-ae
        align-items: end

section,.section
    padding: 50px 0

.form
    gap: 8px
    .submit
        height: 43px
        min-width: 64px
        width: 64px
        border-radius: 41px
        background-color: #0E0E0E
        img
            display: block
            margin: 0 auto

    &__heading
        padding: 0 16px

input
    width: 100%
    background-color: #0E0E0E
    height: 43px
    border-radius: 110px
    padding: 0 16px
    font-size: 16px
    font-weight: 300
    color: white
    &::placeholder
        color: #868686

fieldset
    display: block
    border: 1.5px solid #4E4E4E
    border-radius: 8px
    position: relative
    z-index: 1
    margin: 0 0 20px
    *
        color: #A0A0A0

    label
        background-color: #161616
        font-size: 11px
        line-height: 120%
        display: block
        padding: 0 4px
        margin: 0
        position: absolute
        top: -7px
        left: 30px

    input
        padding: 0 26px
        background: rgba(0, 0, 0, 0)
        &:focus
            color: white

.link
    position: relative
    &::after
        content: ''
        display: inline-block
        vertical-align: middle
        width: 9px
        height: 17px
        margin-left: 12px
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        background-image: url('../img/ar-right.svg')

@media screen and ( max-width: 1500px )
    .container
        max-width: 1240px

    .btn
        padding: 9px 14px

@media screen and ( max-width: 1000px )
    .h2, h2
        font-size: 32px
        margin: 0 0 25px

    .btn
        border-width: 1px
        font-size: 14px

@media screen and ( max-width: 720px )
    h2, .h2
        font-size: 30px
        margin-bottom: 24px
        .link::after
            margin-left: 12px

    section,.section
        padding: 30px 0

@media screen and ( max-width: 600px )
    .subheading

@media screen and ( max-width: 360px )
    .container
        padding: 0 10px
