*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none

:root
    --balck: #121212
    --gray: #A0A0A0
    --prime: #FFC148
    --red: #FF4242

$black: var(--balck)
$prime: var(--prime)
$gray: var(--gray)
$red: var(--red)

body
    min-height: 100vh
    font-size: 16px
    color: white
    background-color: $black
    font-family: 'Montserrat', sans-serif

    position: relative
    z-index: 1

    &.is_active
        overflow: hidden

h1,h2,h3,h4,h5,h6,p
    &:last-child
        margin-bottom: 0

.container
    max-width: 1430px
    width: 100%
    margin: 0 auto
    padding: 0 15px

main
    padding-top: 90px
    @media screen and ( max-width: 720px )
        padding-top: 76px

img
    display: block
    max-width: 100%

a,
button
    color: white
    text-decoration: none
    transition: all ease .3s
    background-color: transparent
    &:hover
        opacity: .8
        color: $prime
        img
            filter: none !important
            opacity: 1 !important

    &:active
        opacity: 1
        transform: scale(.98)

.fill, .nav__ic
    img
        filter: brightness(10)
        opacity: .7

    &:hover
        opacity: 1

.h2, h2
    font-size: 39px
    line-height: 120%
    margin: 0 0 35px
    .link::after
        margin-left: 24px

ul
    list-style: none

.btn
    display: inline-flex
    font-weight: 500
    color: $black
    font-size: 16px
    line-height: 100%
    padding: 11px 14px
    background-color: $prime
    border-radius: 50px
    text-align: center
    border: 1.5px solid $prime
    img
        margin: 0 10px 0 0
        max-width: 20px
        max-height: 20px
        object-fit: contain
        transition: all ease .2s
        filter: brightness(10)

    &:hover
        opacity: 1
        background-color: rgba(0, 0, 0, 0)
        img
            filter: none

    &-outline
        background-color: rgba(0, 0, 0, 0) !important
        color: white
        &:hover
            color: $prime

    &__fav
        display: inline-block
        width: 21px
        height: 20px
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        background-image: url('../img/fav.svg')
        filter: brightness(10)
        opacity: .7
        &.is_active
            opacity: 1
            filter: none

    &.--white
        background-color: #fff
        border-color: white

.filter-none
    filter: none !important
    opacity: 1 !important

.badge
    display: inline-block
    vertical-align: middle
    color: black
    font-size: 16px
    line-height: 120%
    border-radius: 40px
    background-color: $prime
    padding: 2px 6px
    font-weight: 700
    @media screen and ( max-width: 720px )
        font-size: 15px

.c
    &-red
        color: $red !important

    &-prime
        color: $prime !important

    &-green
        color: #41D61C

hr
    margin: 0
    display: block
    width: 100%
    height: 1px
    background-color: $prime

.w-100
    width: 100% !important

.text-center
    text-align: center !important

.fx:not(.slick-initialized), .fx-w, .fx-jc, .fx-ac,
.fx-as, .fx-col, .fx-jb, .fx-ae, .fx-js, body, .fx-je, .tag,
.lk-list li
    display: flex !important

.fx-col, body
    flex-direction: column

.fx-ac, .btn, .tag, .lk-list li
    align-items: center

.fx-jb, .lk-list li
    justify-content: space-between

.fx-jc, .tag
    justify-content: center

.fx
    &-w
        flex-wrap: wrap

    &-as
        align-items: flex-start

    &-je
        justify-content: flex-end

    &-js
        justify-content: flex-start

    &-ae
        align-items: end

section,.section
    padding: 50px 0

.form
    gap: 8px
    .submit
        height: 43px
        min-width: 64px
        width: 64px
        border-radius: 41px
        background-color: #0E0E0E
        img
            display: block
            margin: 0 auto

    &__heading
        padding: 0 16px

input
    width: 100%
    background-color: #242424
    height: 35px
    border-radius: 110px
    padding: 0 16px
    font-size: 16px
    font-weight: 300
    color: #9A9A9A
    &::placeholder
        color: #868686

    &:focus
        color: white

fieldset
    display: block
    border: 1.5px solid #4E4E4E
    border-radius: 8px
    position: relative
    z-index: 1
    margin: 0 0 15px
    *
        color: #A0A0A0

    label
        background-color: #161616
        font-size: 11px
        line-height: 120%
        display: block
        padding: 0 4px
        margin: 0
        position: absolute
        top: -7px
        left: 30px

    input
        padding: 0 26px
        height: 43px
        background: rgba(0, 0, 0, 0)

.link
    position: relative
    &::after
        content: ''
        display: inline-block
        vertical-align: middle
        width: 9px
        height: 17px
        margin-left: 12px
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        background-image: url('../img/ar-right.svg')

.checkbox
    position: relative
    z-index: 1
    label
        padding-left: 28px
        font-size: 15px
        cursor: pointer
        display: block
        &::before
            content: ''
            display: block
            position: absolute
            top: 0
            left: 0
            width: 18px
            height: 18px
            border-radius: 5px
            border: 1px solid #858585
            background-repeat: no-repeat
            background-position: center center
            background-size: contain

    input
        width: 18px
        height: 18px
        left: 0
        top: 0
        position: absolute
        opacity: 0
        &:checked ~ label::before
            background-image: url('../img/check.svg')
            background-color: $prime
            border-color: $prime

.radio
    position: relative
    z-index: 1
    &-wrap
        gap: 12px

    label
        cursor: pointer
        padding: 7px 12px
        background-color: #242424
        border-radius: 25px
        display: block

    img
        height: 27px
        object-fit: contain
        max-width: 115px

    input
        cursor: pointer
        opacity: 0 !important
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        &:checked ~ label
            background-color: #858585

@media screen and ( max-width: 1500px )
    .container
        max-width: 1240px

    .btn
        padding: 9px 14px

@media screen and ( max-width: 1000px )
    .h2, h2
        font-size: 32px
        margin: 0 0 25px

    .btn
        border-width: 1px
        font-size: 14px

@media screen and ( max-width: 720px )
    h2, .h2
        font-size: 30px
        margin-bottom: 24px
        .link::after
            margin-left: 12px

    section,.section
        padding: 30px 0

@media screen and ( max-width: 600px )
    .subheading

@media screen and ( max-width: 360px )
    .container
        padding: 0 10px
