@import 'normolize'
@import 'fonts'
@import 'elements'
@import 'slick'
@import 'header'
@import 'lk'
@import 'card'

.hero
    padding-bottom: 50px
    position: relative
    // z-index: 1
    text-align: center
    &-content
        max-width: 870px
        margin: 0 auto
        padding: 101px 0

    h1
        font-weight: 600
        font-size: 61px
        line-height: 74.36px
        margin: 0 0 30px

    &-links
        gap: 18px
        *
            opacity: 1

    &-brends
        gap: 50px

    &__bg
        pointer-events: none
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 620px
        z-index: -111
        object-fit: cover

    @media screen and ( max-width: 1500px )
        &-content
            padding: 80px 0

        &__bg
            height: 620px

    @media screen and ( max-width: 992px )
        &-content
            max-width: 670px

        h1
            font-size: 50px
            line-height: 120%

        &__bg
            height: 550px

    @media screen and ( max-width: 720px )
        h1
            font-size: 32px
            line-height: 120%
            margin-bottom: 20px

        &-content
            padding: 40px 0

        &-brends
            justify-content: center
            gap: 20px
            & > *
                max-height: 40px

        &__bg
            top: 76px
            height: 500px

        &-links
            gap: 14px

.service
    overflow: hidden
    &-slider
        &:not(.slick-initialized)
            gap: 30px

    &-slide
        width: 236px
        max-width: 100%
        margin: 0 15px
        &:not(.slick-slide)
            display: none
            margin: 0
            @media screen and ( min-width: 1100px )
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5)
                    display: block

            @media screen and ( min-width: 720px )
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3)
                    display: block

            @media screen and ( max-width: 720px )
                width: 200px
                &:nth-child(1)
                    display: block

    &__img
        width: 100%
        border-radius: 15px
        object-fit: cover
        aspect-ratio: 16/15
        margin: 0 0 12px
        background-color: #fff

    &__price
        color: white
        font-size: 24px
        line-height: 120%
        font-weight: 500
        gap: 9px
        margin: 0 0 2px

    &-title
        padding-right: 30px
        position: relative
        z-index: 1

    .btn__fav
        position: absolute
        right: 5px
        top: 5px

    &__text
        font-size: 13px
        line-height: 15.85px
        margin: 0

    @media screen and ( max-width: 992px )
        &-slide
            margin: 0 10px

        &-slider
            width: 100vw
            position: relative
            left: -15px
            .slick-list
                padding: 0 15px

    @media screen and ( max-width: 720px )
        &-slide
            width: 210px
            margin: 0 8px

        &__price
            font-size: 20px

.items
    @media screen and ( max-width: 992px )
        &-slider
            width: 100vw
            position: relative
            left: -15px
            .slick-list
                padding: 0 15px

.item
    width: 340px
    position: relative
    z-index: 1
    overflow: hidden
    border-radius: 18px
    padding: 20px 30px
    aspect-ratio: 5/6.03
    margin: 0 14px
    &:not(.slick-slide)
        margin: 0

    &::before
        content: ''
        height: 50%
        background: linear-gradient(358.57deg, #000000 -3.43%, rgba(135, 135, 135, 0) 85.91%)
    &__img,
    &::before
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        pointer-events: none
        z-index: -1
        display: block

    &__img
        object-fit: cover
        height: 100%
        z-index: -1111

    &__price
        gap: 10px
        font-weight: 700
        font-size: 29.94px
        line-height: 36.5px

    .badge
        font-size: 20px
        line-height: 24.82px
        padding: 2px 8px

    @media screen and ( max-width: 992px )
        margin: 0 10px

    @media screen and ( max-width: 720px )
        width: 290px
        padding: 16px 22px
        &__price
            font-size: 26px
            line-height: 120%

        .badge
            font-size: 18px
            line-height: 115%

@import 'footer'
